ul.country_card {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
  padding: 15px;
  font-weight: 400;
  background: #f3f3f3;
  box-shadow: 2px 2px 3px -2px grey;
  transition: transform 200ms ease-in-out;
}
ul.country_card:hover {
  transform: translateY(-4px);
}
ul.country_card li {
  width: 50%;
}
.confirmed {
  text-align: center;
}
