.main_data h1 {
  background-image: linear-gradient(to left, orange, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.head {
  background: #eaeaea;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.head_body {
  flex: 3;
  text-align: center;
}
